<div class="wrap contact" id="contact">
    <div class="grid grid-pad" >
        <h2>Contact</h2>
        <div class="col-1-2" >
            <div class="content address">
                <h3>Talk to us</h3>
                <p>Team Members: Siddhanth Rao, Sai Krishna, Abhishek Nirmale, Sanket Jain, Ishaan Sahni, Chandan Kumar</p>
                <address>
                    <div>
                        <div class="box-icon">
                            <i class="icon-location"></i>
                        </div>
                        <span>Company:</span>
                        <p>Accenture</p>
                    </div>
                    
                    <div>
                        <div class="box-icon">
                            <i class="icon-clock"></i>
                        </div>
                        <span>Work Time:</span>
                        <p>Monday - Friday from 9am to 5pm</p>
                    </div>
                    
                    <div>
                        <div class="box-icon">
                            <i class="icon-phone"></i>
                        </div>
                        <span>Phone:</span>
                        <p>851 600 9600</p>
                    </div>                                  
                </address>
            </div>
        </div>
         <div class="col-1-2 pleft-25" >
            <div class="content contact-form">
                <form class="form">
                    <input type="text" class="comment-name" placeholder="Name*" required>
                    <input type="email" class="comment-email" placeholder="Email*" required>
                    <input type="text" class="comment-subject" placeholder="Subject">
                    <textarea class="required comment-text" placeholder="Message..." required></textarea>
                    <input type="submit" value="Send Message" class="btn submit comment-submit">
                </form>
            </div>
        </div>
    </div>
</div>