<footer class="wrap">
    <div class="grid grid-pad" >
        <div class="col-1-4">
            <div class="content">
                <div class="footer-widget">
                    <h3>About</h3>
                    <div class="textwidget">
                        <p>Team Slytherin working hard to predict the Fake News using ML</p><br>
                        <p>********</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-4" >
            <div class="content">
                <div class="footer-widget">
                    <h3>Recent Posts</h3>
                    <div class="fwidget">
                        <ul>
                            <li><a href="#0">Fake Article Prediction(Text)</a></li>
                            <li><a href="#0">Fake Article Prediction(Image)</a></li>
                            <li><a href="#0">Check Article is Fake/Real</a></li>
                            <li><a href="#0">Image Splice Detector</a></li>
                            <li><a href="#0">Fake News Detector(Video)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1-4" >
            <div class="content">
                <div class="footer-widget">
                    <h3>More info</h3>
                    <div class="textwidget">
                        <p>Fake news is a big issue in today’s world and given the recent rise of social media it can spread quickly. Fake news, defined by the New York Times as “a made-up story with an intention to deceive”, often for a secondary gain. 
                        </p>
                        <br>
                        <p>Model that will detect if an article is authentic or fake based on its words, phrases</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-1-4" >
            <div class="content">
                <div class="footer-widget">
                    <h3>Flickr Feed</h3>
                    <div class="flickr-widget">
                        <ul class="flickr-list">
                            <li><a href="#0"><img src="images/flickr-widget/flickr1.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr2.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr3.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr4.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr5.jpg" alt=""></a></li>
                            <li><a href="#0"><img src="images/flickr-widget/flickr6.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="social-footer">
        <div class="grid grid-pad">
            <div class="col-1-1" >
                <div class="content">
                    <div class="social-set">
                        <a  href="#0"><i class="icon-facebook"></i></a>
                        <a  href="#0"><i class="icon-twitter"></i></a>
                        <a  href="#0"><i class="icon-linkedin2"></i></a>
                        <a  href="#0"><i class="icon-dribbble4"></i></a>
                        <a  href="#0"><i class="icon-instagram"></i></a>
                    </div>
                    <p class="source-org copyright">© 2016 | All Rights Reserved Created By <a href="http://templatestock.co">Template Stock</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>